<%= javascript_include_tag "app/assets/javascripts/analytics.js" %>

<div class="outline" align="center">
  <h2 class="tracks-for-sale">“Money and success don’t change people; they amplify what is already there.”</h2>
</div>

<div id="exclusive-beats" align="center">
  <iframe
  class="music-player"
  height="450"
  scrolling="no"
  frameborder="no"
  src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/playlists/52239392&amp;
  color=ff5500&amp;
  auto_play=false&amp;
  hide_related=false&amp;
  show_comments=true&amp;
  show_user=true&amp;
  show_reposts=false">
  </iframe>
</div>

<div class="info" align="center">
</div>