<div class="outline" align="center">
  <h2 class="beats">Tracks For Sale</h2>
</div>

<div id="exclusive-beats" align="center">
  <iframe
  id="music player"
  width="42%"
  height="380"
  scrolling="no"
  frameborder="no"
  src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/playlists/1579526&amp;
  auto_play=false&amp;
  hide_related=false&amp;
  visual=true">
  </iframe>
</div>

<div class="info" align="center">
<h1 class="disclaimer">*All Tracks are for lease only, contact for exclusives <br/> *Purchased Tracks will only contain one drop</h1>
</div>
