<div id="exclusive beats" align="center">

  <h2 class="beats">Beats For Purchase</h2>

  <iframe
  id="music player"
  width="32%"
  height="450"
  scrolling="no"
  frameborder="no"
  src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/playlists/1579526&amp;
  auto_play=false&amp;
  hide_related=false&amp;
  visual=true">
  </iframe>
</div>
