<%= javascript_include_tag "app/assets/javascripts/analytics.js" %>

<div class="about-page">
  <h3 class="about-headers">Platano<br>[plät-tä-nō]</h3>
  <h5 class="bio">1. a tropical plant, <i>Musa paradisiaca</i>, of the banana family, eaten as a staple food in many tropical regions<br>
                  2. a dope ass producer from Queens, NY that cooks heat</h5>
</div>
