<h5 class="production-influences">Production Influences: <br> Hit-Boy, Curren$y, HeatMakerz, Just Blaze, Timbaland,
  Q-Tip, Harry Fraud, DJ Premier, Kanye West, Quincy Jones
 </h5>

<h5 class="musicians-I-Listen-to">
    Musicians I listen to: Nas, Jay-Z, Kendrick Lamar, Schoolboy Q, Pusha-T, Yung Jeezy,
Talib Kweli, Janelle Monae, The Weeknd, Childish Gambino, Stan Getz, Anthony Santos
</h5>
