<div class="about-page">
  <h4 class="site-explanation">Every week on Wednesday I will post 5 new tracks; however, those 5 tracks will only be on
  the site for one week. So if you like a particular song you have to jump on it while you can! <br><br> If you would like
  to hear or purchase beats that are not listed, please contact me directly</h4>
  <h3 class="about-headers">Bio: <br></h3>
  <h5 class="bio">Plat Ramos was born and raised in Queens, NY. Growing up in this environment he was
    exposed to a wide array of genres which included Soul, Hip-hop, Jazz, R&B and Latin Music. He began producing music
    at 16 years of age using Fruity Loops and this is where his passion for making music began. His experience with sound
    engineering and recording techniques allow him to construct tracks that are well suited for a variety of artists</h5>
  <h3 class="about-headers">Production Influences: <br></h3>
  <h5 class="production-influences">Hit-Boy, Curren$y, HeatMakerz, Just Blaze,
    Timbaland,
    Q-Tip, Harry Fraud, DJ Premier, Kanye West, Quincy Jones
  </h5>
  <br><br>
  <h3 class="about-headers">Musicians I listen to: <br></h3>
  <h5 class="musicians">
    Nas, Jay-Z, Kendrick Lamar, Schoolboy Q, Pusha-T, Yung Jeezy,
    Talib Kweli, Janelle Monae, The Weeknd, Childish Gambino, Stan Getz, Anthony Santos
  </h5>
</div>
