<article class="contest-page">
  <h3 class="contest-header">WANT TO EARN FREE AFROPUNK TICKETS?!</h3>
  <ul class="contest-details-body">
    Vintage Flight is a mixtape by Plat Ramos where each song samples the sample of a classic hip-hop song. Win tickets
    by guessing the the most samples on vintage flight and you'll receive 2 weekend passes to the AfroPunk festival
  </ul>
  <h3 class="contest-details-title">HOW TO WIN</h3>
  <ul class="contest-details-body">
    <ol>1) Follow <%= link_to '@PlatRamos', 'https://instagram.com/platramos', target: '_blank' %> on IG</ol>
    <ol>2) Share the album on social media http://bit.ly/vintage-flight</ol>
    <ol>3) Guess the song title of samples used in Vintage Flight and the hip-hop song that used them. The person with
      the
      most correct guesses wins the contest.
    </ol>
  </ul>
  <h3 class="contest-details-title">SUBMISSIONS</h3>
  <ul class="contest-details-body">Email <%= link_to 'ThePlatRamos@gmail.com', 'mailto:theplatramos@gmail.com' %></ul>
  <h3 class="contest-details-title">ADDITIONAL DETAILS</h3>
  <ul class="contest-details-body">submission deadline etc.</ul>
</article>