<%= javascript_include_tag "app/assets/javascripts/analytics.js" %>

<div class="about-page">
  <h3 class="about-headers">Plat in the News</h3>
  <section class="plat-news">
    <article class="blog-post">
      <blockquote class="embedly-card" data-card-key="16380ed3f0894c75b87710c80a196c89" data-card-theme="dark"><h4>
        <a href="https://katch.me/therealFABE/v/a9390d2f-4b16-396c-87da-a934f26fb309">💥Mofongo💥 #freestyles
          @therealFaBe over @platramos beats 🎶🎵🎤</a></h4>

        <p>F∆B∑</p></blockquote>
      <script async src="//cdn.embedly.com/widgets/platform.js" charset="UTF-8"></script>
    </article>
    <article class="blog-post">
      <blockquote class="embedly-card" data-card-key="16380ed3f0894c75b87710c80a196c89" data-card-theme="dark"><h4>
        <a href="http://remezcla.com/releases/music/plat-ramos-mofongo-ep-review/">Marc Anthony Meets the Classic Dipset
          Sound on Plat Ramos' 'Mofongo EP'</a></h4>

        <p>Queens-hailing producer Plat Ramos unveils a cookbook of Latin-inspired hip-hop beats in his new instrumental
          tape . Inspired by the versatile Puerto Rican dish and an Action Bronson track of the same name, Mofongo melds
          the melodies of the island with the brash sounds of New York City.</p></blockquote>
      <script async src="//cdn.embedly.com/widgets/platform.js" charset="UTF-8"></script>
    </article>
  </section>
  <article class="blog-post">
    <blockquote class="embedly-card" data-card-key="16380ed3f0894c75b87710c80a196c89" data-card-theme="dark"><h4>
      <a href="http://hubwav.com/word-association-with-queens-bred-producer-plat-ramos/">Word Association with
        Queens-Bred Producer Plat Ramos - hubwav</a></h4>

      <p>Plat Ramos drops his Latin/hip hop fusion instrumental tape 'Mofongo' and plays a special food-themed Word
        Association with us. By day, he's Justin, a 24 year-old software engineer from Queens Village, NY. By night,
        he's Plat Ramos , a hungry beatmaker with an appreciation for both Latin rhythms and the '90s/'00s hip hop.</p>
    </blockquote>
    <script async src="//cdn.embedly.com/widgets/platform.js" charset="UTF-8"></script>
  </article>

</div>