/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *=
 *= require foundation_and_overrides
 *= require_tree .
 */


.widget {
    box-shadow: 10px 10px 5px #888888;
}

ul.title-area, {
    display: -webkit-inline-box;
}

p.alert.alert-success {
    position: absolute;
    margin-left: 20px;
    margin-top: 8px;
    color: #ffffff;
    font-size: medium;
}

.page {
  height: 100%;
  width: 80%;
  z-index: -1;
  background-color: rgba(0, 0, 0, 0.5);
  opacity: 0.4;
  position: absolute;
  margin-left: 10%;
  margin-right: 10%;
}

body {
    background-image: url(/assets/images/cuba1.jpg);
    background-attachment: fixed;
    background-size:cover;
}

li.logged-in-as {
    color: rgb(0, 153, 255);
    margin-top: 8px;
}

#header {
    font-family: palatino linotype;
    color: #F9E3CC;
}

#nav {
    font-family: georgia;
    color: #F9E3CC;
}