/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *=
 *= require foundation_and_overrides
 *= require_tree .
 */

.widget {
    box-shadow: 10px 10px 5px #888888;
}

ul.title-area, {
    display: -webkit-inline-box;
}

p.alert.alert-success {
    position: absolute;
    margin-left: 20px;
    margin-top: 8px;
    color: #ffffff;
    font-size: medium;
}

body {
    background-image: url(/assets/images/fried-plantains.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    min-height: 665px;
}

.blog-post {
    background-color: black;
    background: rgba(0, 0, 0, 0.55);
    border-radius: 15px;
    padding: 3.5%;
    margin-bottom: 1.5%;
}

a {
    font-family: 'Droid Sans';
    text-shadow: 1px 1px black;
    color: #FFFFFF;
}

.bio {
    font-size: large;
    color: #ffffff;
}

a:hover {
    color: #ffffff;
    text-decoration: underline;
}

.top-bar {
    margin-bottom: 1%;
    font-family: 'Droid Sans', Bold;
    color: rgb(255, 245, 226);
}

a:link {
    color: #C0CF71;
}

a:not(.embedly-link) {
    color: #C0CF71;
}

a.home:link {
    font-size: xx-large;
}

.about-page {
    margin-left: auto;
    margin-right: auto;
    margin-top: 2.5%;
    margin-bottom: 2%;
    width: 40%;
    text-align: center;
    min-width: 300px;
}

.about-page > h3, h5 {
    text-align: left;
}

.bio, .about-headers, .contest-header, .contest-details-body, .contact-title {
    font-family: 'Droid Sans', Bold;
    color: rgb(255, 245, 226);
    text-shadow: 1px 1px black;
    align: center;
}

.contest-header {
    font-family: 'Droid Sans', Bold;
    color: rgb(255, 245, 226);
    text-shadow: 1px 1px black;
    font-size: xx-large;
    align: center;
}

.contest-details-body {
    font-size: larger;
}

.contact-info, .contact-title, .contest-details-title {
    font-family: 'Droid Sans';
    text-shadow: 1px 1px black;
    color: rgb(255, 245, 226);
}

/* drop shadow */
.contact-info, .bio, .contest-page {
    background-color: black;
    background: rgba(0, 0, 0, 0.55);
    border-radius: 15px;
    padding: 3.5%;
}

.widget-container {
    position: relative;
    overflow: hidden;
    margin: 3% auto 2%;
    min-width: 355px;
    width: 40%;
    height: 40%;
    text-align: center;
}

.video-container iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.contact-page, .contest-page {
    margin-left: auto;
    margin-right: auto;
    margin-top: 2.5%;
    width: 40%;
    min-width: 300px;
}

.contest-details-body {

}

.contest-page {
    width: 48%;
}

@media screen and (max-width: 939px) {
    .about-page {
        background-color: black;
        background: rgba(0, 0, 0, 0.44);
        border-radius: 15px;
        padding: 3.5%;
    }

    .contest-details-body {
        font-size: initial;
    }

    .contact-page, .contest-page {
        background-color: black;
        background: rgba(0, 0, 0, 0.44);
        border-radius: 15px;
        padding: 3.5%;
    }

    .widget-container {
        margin: .05% auto 2%;
    }
}

