/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *=
 *= require foundation_and_overrides
 *= require_tree .
 */


ul.title-area, {
    display: -webkit-inline-box;
}

p.alert.alert-success {
    position: absolute;
    margin-left: 20px;
    margin-top: 8px;
    color: #ffffff;
    font-size: medium;
}

body {
    background: #FF9009;
}

li.logged-in-as {
    color: rgb(0, 153, 255);
    margin-top: 8px;
}

input#user_email, input#user_password, input#user_password_confirmation {
    width: 25%;
}

input[type=submit] {
width: inherit;
margin-left: 40%;
width: 20%;
font-size: xx-large;
}

#header {
    font-family: palatino linotype;
    color: #F9E3CC;
}

#nav {
    font-family: georgia;
    color: #F9E3CC;
}