.user-forms {
    width: inherit;
    margin-left: 32%;
}

input#user_email, input#user_password, input#user_password_confirmation {
    width: 55%;
}

input[type=submit] {
    width: 20%;
    font-size: xx-large;
}

.submit-button {
    margin-left: 20%;
}

.header {
    margin-left: 19.5%;
}


.invite-friend{
    margin-left: 15%;
}

a:hover {
    color: #ffffff;
}

a {
    color: #000000;
}