<div class="contain-to-grid sticky">
  <nav class="top-bar" data-topbar data-options="sticky_on: large">
    <ul class="title-area">
      <li class="name"><h1><a href="/">Plat Ramos</a></h1></li>
      <li class="toggle-topbar menu-icon"><a href="#"><span>Menu</span></a></li>
    </ul>

    <section class="top-bar-section">
      <ul class="left">
      </ul>

      <ul class="right">
        <li class="music"><%= link_to 'Music', 'http://soundcloud.com/plat-ramos', :target => '_blank' %></li>
        <li class="afropunk-contest"><%= link_to 'AfroPunk Contest', contest_path %></li>
        <li class="plat-in-the-news"><%= link_to 'Plat in the News', plat_in_the_news_path %></li>
        <li class="contact"><%= link_to 'Contact', contact_path %></li>
      </ul>
    </section>
  </nav>
</div>